@using BLL.DTOs
@model Veginder.Models.StocksModel

@{
	ViewData["Title"] = "Products";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{int j = 0;}

@for (int i = 0; i < Model.Stocks.Count / 3; i++)
{
	<div class="container">
		<div class="row">
			<div class="col">
				@{Stock s1 = Model.Stocks[j];}
				<a asp-controller="Product" asp-action="ShowProduct" asp-route-stockId="@s1.Id">
					<img class="prod-image" src="@s1.Product.PicturePath">
					<h6>@s1.Product.Name</h6>
					<h6>@s1.Product.Category.Name</h6>
					<h6>@s1.Shop.Name</h6>
					<h6>In stock: @s1.Quantity</h6>
					<h6>Price: @s1.Price</h6>
				</a>
			</div>
			<div class="col">
				@{Stock s2 = Model.Stocks[j+1];}
				<a asp-controller="Product" asp-action="ShowProduct" asp-route-stockId="@s2.Id">
					<img class="prod-image" src="@s2.Product.PicturePath">
					<h6>@s2.Product.Name</h6>
					<h6>@s2.Product.Category.Name</h6>
					<h6>@s2.Shop.Name</h6>
					<h6>In stock: @s2.Quantity</h6>
					<h6>Price: @s2.Price</h6>
				</a>
			</div>
			<div class="col">
				@{Stock s3 = Model.Stocks[j+2];}
				<a asp-controller="Product" asp-action="ShowProduct" asp-route-stockId="@s3.Id">
					<img class="prod-image" src="@s3.Product.PicturePath">
					<h6>@s3.Product.Name</h6>
					<h6>@s3.Product.Category.Name</h6>
					<h6>@s3.Shop.Name</h6>
					<h6>In stock: @s3.Quantity</h6>
					<h6>Price: @s3.Price</h6>
				</a>
			</div>
		</div>
	</div>
	j += 3;
}
